* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "poppins", sans-serif;
}
.converter {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}
.converterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    max-width: 400px;
    height: 500px;
    background: rgb(4, 83, 107);
    box-shadow: 0px 0px 10px 5px black;
    border-radius: 20px;
}
form {
    width: 100%;
    padding: 0 25px;
}
section div span {
    color: white;
    font-size: 30px;
}
form div label {
    color: white;
    font-size: 20px;
}
form div input {
    width: 100%;
    height: 40px;
    background-color: beige;
    
}
form div input::placeholder {
    display: none;
}
button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid Black;
}
button:hover {
    background-color: black;
    color: white;
}